<a href="https://colab.research.google.com/github/FranziskoB/7DaysOfCode-Ciencia-de-Dados/blob/main/1%C2%B0_dia_Limpeza_e_tratamento_dos_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Wrangling

### Descrição do dataset
Cota para Exercício da Atividade Parlamentar dos Senadores:

A Cota para o Exercício da Atividade Parlamentar é uma verba indenizatória à qual os 513 deputados federais e os 81 senadores têm direito para custear as despesas do mandato, com passagens aéreas, telefonia, manutenção de escritórios parlamentares, alimentação, hospedagem, locação de veículos, segurança, divulgação da atividade parlamentar e combustíveis.

### Importação da bibliotecas

In [1]:
import pandas as pd

### Importação dos dados dos últimos 4 anos (2019, 2020, 2021 e 2022)

In [2]:
dados_2019=pd.read_csv('https://www.senado.gov.br/transparencia/LAI/verba/despesa_ceaps_2019.csv',sep=';',encoding = 'ISO-8859-1')
dados_2020=pd.read_csv('https://www.senado.gov.br/transparencia/LAI/verba/despesa_ceaps_2020.csv',sep=';',encoding = 'ISO-8859-1')
dados_2021=pd.read_csv('https://www.senado.gov.br/transparencia/LAI/verba/despesa_ceaps_2021.csv',sep=';',encoding = 'ISO-8859-1')
dados_2022=pd.read_csv('https://www.senado.gov.br/transparencia/LAI/verba/despesa_ceaps_2022.csv',sep=';',encoding = 'ISO-8859-1')

Organizando os cabeçalhos das colunas

In [3]:
dados_2019=dados_2019.reset_index().iloc[1:]
dados_2019.columns=['ANO','MES','SENADOR','TIPO_DEFESA','CNPJ_CPF','FORNECEDOR','DOCUMENTO','DATA','DETALHAMENTO','VALOR_REEMBOLSADO','COD_DOCUMENTO']

dados_2020=dados_2020.reset_index().iloc[1:]
dados_2020.columns=['ANO','MES','SENADOR','TIPO_DEFESA','CNPJ_CPF','FORNECEDOR','DOCUMENTO','DATA','DETALHAMENTO','VALOR_REEMBOLSADO','COD_DOCUMENTO']

dados_2021=dados_2021.reset_index().iloc[1:]
dados_2021.columns=['ANO','MES','SENADOR','TIPO_DEFESA','CNPJ_CPF','FORNECEDOR','DOCUMENTO','DATA','DETALHAMENTO','VALOR_REEMBOLSADO','COD_DOCUMENTO']

dados_2022=dados_2022.reset_index().iloc[1:]
dados_2022.columns=['ANO','MES','SENADOR','TIPO_DEFESA','CNPJ_CPF','FORNECEDOR','DOCUMENTO','DATA','DETALHAMENTO','VALOR_REEMBOLSADO','COD_DOCUMENTO']

Juntando todos os anos em um dataframe

In [4]:
dados=pd.concat([dados_2019,dados_2020,dados_2021,dados_2022], ignore_index=True)

### Tratando os dados

In [5]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68648 entries, 0 to 68647
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                68648 non-null  object
 1   MES                68648 non-null  object
 2   SENADOR            68648 non-null  object
 3   TIPO_DEFESA        68648 non-null  object
 4   CNPJ_CPF           68648 non-null  object
 5   FORNECEDOR         68648 non-null  object
 6   DOCUMENTO          65709 non-null  object
 7   DATA               68648 non-null  object
 8   DETALHAMENTO       38243 non-null  object
 9   VALOR_REEMBOLSADO  68648 non-null  object
 10  COD_DOCUMENTO      68648 non-null  object
dtypes: object(11)
memory usage: 5.8+ MB

In [6]:
dados.head(5)

,ANO,MES,SENADOR,TIPO_DEFESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582758,04/01/2019,Despesa com pagamento de energia elétrica do e...,"66,02",2116543
1,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582755,04/01/2019,Despesa com pagamento de energia elétrica do e...,"139,98",2116546
2,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,00119,07/01/2019,Despesa com pagamento de aluguel de imóvel par...,6000,2113817
3,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,86161151,25/12/2018,Despesa com pagamento de telefonia para o escr...,"316,39",2116541
4,2019,2,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,007236036,04/02/2019,Despesa com pagamento de energia elétrica para...,"99,45",2116550

Valor_reembolsado

In [7]:
dados['VALOR_REEMBOLSADO'] = dados['VALOR_REEMBOLSADO'].astype(str)
dados['VALOR_REEMBOLSADO'] = dados['VALOR_REEMBOLSADO'].str.replace(',', '.')
dados['VALOR_REEMBOLSADO']=dados['VALOR_REEMBOLSADO'].astype(float)

Data

In [8]:
(dados['DATA'].str[-4:]).unique() # Algumos anos estão divergentes

array(['2019', '2018', '2020', '2010', '2009', '0219', '2016', '2014',
       '2021', '0202', '2002', '2022', '2000'], dtype=object)

In [9]:
dados_correcao=pd.concat([dados[((dados['DATA'].str[-4:]=='0219'))],
           dados[((dados['DATA'].str[-4:]=='2000'))],
           dados[((dados['DATA'].str[-4:]=='2016'))],
           dados[((dados['DATA'].str[-4:]=='2014'))],
           dados[((dados['DATA'].str[-4:]=='2009'))],
           dados[((dados['DATA'].str[-4:]=='2010'))],
           dados[((dados['DATA'].str[-4:]=='2002'))],
           dados[((dados['DATA'].str[-4:]=='0202'))]]) # Em casos de gastos fora do atual mandato vamos mudar o ano para o ano virgente, exceto o ano de 2018
dados_correcao.head(5)

,ANO,MES,SENADOR,TIPO_DEFESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
10986,2019,1,LÚCIA VÂNIA,"Aluguel de imóveis para escritório político, c...",08.573.731/0001-38,LDE Contabilidade e Administração de Condomíni...,0107007,31/01/0219,Taxa condominial,271.26,2114251
56471,2022,12,ESPERIDIÃO AMIN,"Passagens aéreas, aquáticas e terrestres nacio...",00.556.066/0001-62,FIBRATUR TURISMO E VIAGENS LTDA,SUNHPY,08/12/2000,"Companhia Aérea: LATAM, Localizador: SUNHPY. P...",1070.92,2191697
14373,2019,12,ORIOVISTO GUIMARÃES,"Aluguel de imóveis para escritório político, c...",02.804.267/0001-67,CH Franco Administracao de Bens Ltda,s/n,06/01/2016,Aluguel do escritório parlamentar em Curitiba/PR.,3800.00,2141992
15171,2019,1,PAULO ROCHA,"Passagens aéreas, aquáticas e terrestres nacio...",16.978.175/0001-08,Adria Viagens e Turismo Ltda,FT00013714,08/01/2014,"Companhia Aérea: AZUL, Localizador: JGTIGA. Pa...",864.16,2114683
25370,2020,6,FABIANO CONTARATO,"Aluguel de imóveis para escritório político, c...",22.693.574/0001-25,VALORI IMÓVEIS,NaN,06/07/2014,DESPESA COM ALUGUEL DAS INSTALAÇÕES DO ESCRITÓ...,2400.00,2146572

In [10]:
dados_normais=pd.concat([dados[((dados['DATA'].str[-4:]=='2018'))],
           dados[((dados['DATA'].str[-4:]=='2019'))],
           dados[((dados['DATA'].str[-4:]=='2020'))],
           dados[((dados['DATA'].str[-4:]=='2021'))],
           dados[((dados['DATA'].str[-4:]=='2022'))]])

In [11]:
dados_correcao['DATA']=dados_correcao['DATA'].str[:6] + dados_correcao['ANO']

In [12]:
dados=pd.concat([dados_normais,dados_correcao], ignore_index=True)

In [13]:
dados['DATA']=pd.to_datetime(dados['DATA'])

Colunas com muitos dados diferentes :

CNPJ_CPF,COD_DOCUMENTO, FORNECEDOR,DETALHAMENTO

In [14]:
print('CNPJ_CPF: ',(pd.DataFrame((dados['CNPJ_CPF']).value_counts()).sort_values(by='CNPJ_CPF')).shape) # Existem muitos dados diferentes nessa coluna, então para criação de modelos ela não precisa ser usada
print('COD_DOCUMENTO: ',(pd.DataFrame((dados['COD_DOCUMENTO']).value_counts()).sort_values(by='COD_DOCUMENTO')).shape) # Existem muitos dados diferentes nessa coluna, então para criação de modelos ela não precisa ser usada
print('FORNECEDOR: ',(pd.DataFrame((dados['FORNECEDOR']).value_counts()).sort_values(by='FORNECEDOR')).shape) # Existem muitos dados diferentes nessa coluna, então para criação de modelos ela não precisa ser usada
print('DETALHAMENTO: ',(pd.DataFrame((dados['DETALHAMENTO']).value_counts()).sort_values(by='DETALHAMENTO')).shape) # Existem muitos dados diferentes nessa coluna, então para criação de modelos ela não precisa ser usada
print('DOCUMENTO: ',(pd.DataFrame((dados['DOCUMENTO']).value_counts()).sort_values(by='DOCUMENTO')).shape) # Existem muitos dados diferentes nessa coluna, então para criação de modelos ela não precisa ser usada

CNPJ_CPF:  (7619, 1)
COD_DOCUMENTO:  (68648, 1)
FORNECEDOR:  (8619, 1)
DETALHAMENTO:  (22288, 1)
DOCUMENTO:  (54855, 1)

In [15]:
dados=dados.drop(['CNPJ_CPF','COD_DOCUMENTO', 'FORNECEDOR','DETALHAMENTO','DOCUMENTO'], axis=1)

ANO e MES

Já existe uma coluna com data então não há necessidade dessas duas colunas

In [16]:
dados=dados.drop(['ANO',"MES"], axis=1)

In [17]:
dados.info() # Resultado Final

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68648 entries, 0 to 68647
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SENADOR            68648 non-null  object
 1   TIPO_DEFESA        68648 non-null  object
 2   DATA               68648 non-null  datetime64[ns]
 3   VALOR_REEMBOLSADO  68648 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 2.1+ MB

In [20]:
dados.to_csv('ceaps.csv') # Salvando os dados